.categoryList {
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.categoryItem {
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
}

.categoryItem.pendidikan {
    background-color: #57c4ff31;
 }

 .categoryItem.ekskul {
    background-color: #da85c731;
 }

 .categoryItem.kurikulum {
    background-color: #7fb88133;
 }

 .categoryItem.teknologi {
    background-color: #ff795736;
 }

 .categoryItem.p5 {
    background-color: #ffb04f45;
 }

 .categoryItem.lomba {
    background-color: #5e4fff31;
 }